body{font-family: 'Poppins', sans-serif;
}
.futani{color: orange;}
.half{display: flex;
width: 50%;
padding-left: 7%;
padding-top: 15%;
margin-bottom: 10%;}
.half img{width: 300%;
margin-left: 80%;}
.half h1{font-size: 50px;
font-weight: 900;
color: rgb(70, 68, 63);}
.button{text-decoration: none;
    color: white;
background-image: linear-gradient(orange,tomato);
padding: 4%;
border-radius: 30px;
font-weight: 700;}
.halft{display: flex;
    width: 50%;
    margin-bottom: 10%;
  background-image: url(photo/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  background-position: left;}
    .halft img{width: 75%;
    padding-right: 30%;
padding-left: 25%;}
    .jala{padding-top: 10%;
    padding-right: 10%;
padding-left: 15%;}
    .middle{text-align: center;
    color: rgb(126, 119, 119);
 font-weight: 900;
font-size: 40px;}
.dur{padding-left: 27%;
    padding-right: 27%;
text-align: center;}
.tim{display: flex;
    width: 33%;
 margin-left: 5%;
margin-bottom: 10%;}
    .tin{box-shadow: black 10px 10px 40px;
    margin-left: 14%;
padding-left: 2%;
border-radius: 5%;}
.tin img{margin: 15px 15px 15px 5px;
border-radius: 5%;}
.last{display: flex;
margin-left: 7%;
box-shadow: black 10px 10px 60px;
margin-right: 7%;
padding-top: 1%;
padding-bottom: 1%;
border-radius: 15px;
margin-bottom: 10%;}
.last h2{padding-left: 140px;
    margin-right: 150px;
font-weight: 900;
font-size: 40px;}
.last h4{padding-left: 140px;
    font-weight: 300;}
.me{text-align: center;
    color: sandybrown;
font-size: 50px;
font-weight: 900;}
.eka{text-align: center;
    color: royalblue;
font-size: xx-large;
font-weight: 900;}
.center{text-align: center;
color: red;
font-size: large;
font-weight: 900;
margin-bottom: 10%;}
footer{box-shadow: 12px 12px 50px;
    background-color: rgb(15, 8, 8);
text-align: center;
padding-top: 1%;
padding-bottom: 5%;}
footer h2{color: rgb(70, 66, 62);
font-size: 40px;}
footer h5{color: blanchedalmond;
font-weight: 100;}
.r{color: chocolate;}